/* Font */
body {
	font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
	background-color: #ecf1f4 !important;
}
.navbar .nav-item {
	margin: 0 !important;
	padding: 0 !important;
}
.navbar .nav-item .nav-link {
	font-size: 15px;
	font-weight: 400;
	color: #636972;
	margin: 0 15px;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
	color: #55bc7e;
}

.navbar .nav-item .nav-link.active {
	color: #55bc7e;
}
