body {
	font-family: 'Inter', sans-serif;
}
/* Navbar */
.navbar {
	background-color: #231166 !important;
}
.navbar .nav-item {
	margin: 0 !important;
	padding: 0 !important;
}
.navbar .nav-item .nav-link {
	font-size: 14px;
	font-style: normal;
	color: white;
	margin: 0 20px;
	transition: all 0.4s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
	color: #e4662b;
}

.navbar .nav-item .nav-link.active {
	color: #e4662b;
}
